.customerFeedback {   
  .customer__cards {
    margin-top: 70px;
    display: grid;     
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
   }
  .customer__card {
    display: flex;
    flex-direction: column;
    align-items: center;   
    gap: 30px;
    margin-bottom: 45px;
  }
  .customer__image__holder { 
    background-color: $orange-bg;
    width: 65px;
    height: 65px;   
    border-radius: 20px;
    position: relative;     
    .customer__img {
      border-radius: 20px;
      position: absolute;
      top:8px;
      left: 8px;        
      @include background__img__basic;
    }
  }
  .customer__title {
      font-size: calculateRem(24);
      line-height: 28px;
      font-weight: 900;
      color: $heading-tx-color;
      margin: 0 100px;
      text-align: center;
      text-transform: uppercase;
  }
  .customer__description {
      @include contentText;
      margin-top: 0;
      padding: 0 24px;
      text-align: center;
  }
}

@media screen and (min-width: 680px) {
  .customerFeedback {
    margin-left: 39px;
    margin-right: 98px;
    margin-top: 134px;
    .customer__card {
      align-items: flex-start;
    }
    .customer__title {
        margin: 0px;
        text-align: left;
    }
    .customer__description {
        padding: 0;
        text-align: left;
    }
  }
}
@media screen and (min-width: 1280px) {
  .customerFeedback {
    margin: 134px 165px 0;
  }
}